@model RateYourShowMVC.Models.Usuario

@{
    ViewBag.Title = Model.Nome;
    Layout = "~/Views/Shared/_Layout.cshtml";
    IEnumerable<RateYourShowMVC.Models.Series> series = ViewBag.Series;
}

<!-- ... end Responsive Header-BP -->
<div class="header-spacer"></div>



<div class="container">
    <div class="row">
        <div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="ui-block">
                <div class="top-header top-header-favorit">
                    <div class="top-header-thumb">
                        <img src="~/img/top-header2.jpg" alt="nature">
                        <div class="top-header-author">
                            @foreach (var mid in Model.Midia)
                            {
                                <div class="author-thumb">
                                    <img src="~/Uploads/@mid.Link" style="width:120px;height:120px;" alt="author">
                                </div>
                            }
                            <div class="author-content">
                                <label class="h3 author-name">@Model.Nome</label>
                            </div>
                        </div>
                    </div>
                    <div class="profile-section">
                        @using (Html.BeginForm("PerfilAmigo", "Series", new { id = Model.UsuarioId }, FormMethod.Post, htmlAttributes: new { @class = "control-block-button" }))
                        {

                            if (ViewBag.Convite == 0)
                            {
                                <button class="btn-control bg-account" type="submit" id="Convite" name="Convite" value="1">
                                    <svg class="olymp-plus-icon" data-toggle="tooltip" data-placement="top" data-original-title="Enviar Convite"><use xlink:href="~/svg-icons/sprites/icons.svg#olymp-plus-icon"></use></svg>
                                </button>
                            }
                            if (ViewBag.Convite == 1)
                            {
                                <button class="btn-control bg-blue" type="submit" id="Convite" name="Convite" value="2">
                                    <svg class="olymp-plus-icon" data-toggle="tooltip" data-placement="top" data-original-title="Cancelar Convite"><use xlink:href="~/svg-icons/sprites/icons.svg#olymp-plus-icon"></use></svg>
                                </button>
                            }
                            if (ViewBag.Convite == 2)
                            {
                                <button class="btn-control bg-badges" type="submit" id="Convite" name="Convite" value="3">
                                    <svg class="olymp-plus-icon" data-toggle="tooltip" data-placement="top" data-original-title="Desfazer Amizade"><use xlink:href="~/svg-icons/sprites/icons.svg#olymp-plus-icon"></use></svg>
                                </button>
                            }
                            if (ViewBag.Convite == 3)
                            {
                                <button class="btn-control bg-birthday" type="submit" id="Convite" name="Convite" value="4">
                                    <svg class="olymp-plus-icon" data-toggle="tooltip" data-placement="top" data-original-title="Aceitar Amizade"><use xlink:href="~/svg-icons/sprites/icons.svg#olymp-plus-icon"></use></svg>
                                </button>
                                <button class="btn-control bg-badges" type="submit" id="Convite" name="Convite" value="5">
                                    <svg class="olymp-plus-icon" data-toggle="tooltip" data-placement="top" data-original-title="Recusar Amizade"><use xlink:href="~/svg-icons/sprites/icons.svg#olymp-plus-icon"></use></svg>
                                </button>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="ui-block responsive-flex">
                <div class="ui-block-title">
                    @for (int i = 0; i < ViewBag.UsuSeries.Count; i++)
                    {
                        foreach (var item in series.Where(s => s.SeriesId == ViewBag.UsuSeries[i]))
                        {

                            <div class="photo-item col-4-width">
                                @foreach (var mid in item.Midia.Where(m => m.TipoMidiaId == 1))
                                {
                                    <img src="~/Uploads/@mid.Link" style="height:200px;width:300px" stalt="photo">
                                }
                                <div class="overlay overlay-dark"></div>
                                <a href="#" data-toggle="modal" data-target="#open-photo-popup-v2" class="  full-block"></a>
                                <div class="content">
                                    @Html.ActionLink(item.Nome, "Perfil", new { id = item.SeriesId }, htmlAttributes: new { @class = "h4" })
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>

