
@{
    ViewBag.Title = "DashAtores";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="header-spacer"></div>

<div class="container">
    <div class="row">
        <div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="ui-block">
                <div class="top-header">
                    <div class="top-header-thumb">
                        <img src="~/img/Prancheta 1-100.jpg" alt="nature">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="ui-block responsive-flex">
                <div class="ui-block-title">
                    <div class="h6 title">Galeria de Atores</div>
                    <form class="w-search">
                        <div class="form-group with-button is-empty">
                            <input class="form-control" placeholder="procure atores..." type="text" />
                            <button>
                                <svg class="olymp-magnifying-glass-icon"><use xlink:href="~/svg-icons/sprites/icons.svg#olymp-magnifying-glass-icon"></use></svg>
                            </button>
                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>
</div>




<!-- Album atores-->
<div class="container">
    <div class="photo-item col-4-width">
        <img src="~/img/photo-item3.jpg" alt="photo">
        <div class="overlay overlay-dark"></div>
        <!-- link do ator aqui--><a href="#" data-toggle="modal" data-target="#open-photo-popup-v2" class="  full-block"></a>
        <div class="content">
            <a href="#" class="h6 title">Capaldão</a>
        </div>
    </div>
</div>
<!-- end Album atores-->

