
@{
    ViewBag.Title = "Perfil Amigo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- ... end Responsive Header-BP -->
<div class="header-spacer"></div>



<div class="container">
    <div class="row">
        <div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="ui-block">
                <div class="top-header top-header-favorit">
                    <div class="top-header-thumb">
                        <img src="~/img/top-header2.jpg" alt="nature">
                        <div class="top-header-author">
                            <div class="author-thumb">
                                <img src="~/img/author-main2.jpg" alt="author">
                            </div>
                            <div class="author-content">
                                <a href="#" class="h3 author-name">Rodolfo o otario</a>
                            </div>
                        </div>
                    </div>
                    <div class="profile-section">
                        <div class="control-block-button">
                            <a href="#" class="btn btn-control bg-primary">
                                <svg class="olymp-plus-icon"><use xlink:href="~/svg-icons/sprites/icons.svg#olymp-plus-icon"></use></svg>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

