
@{
    ViewBag.Title = "Personagem";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="header-spacer"></div>

<div class="container">
    <div class="row">
        <div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="ui-block responsive-flex">
                <div class="ui-block-title">
                    <div class="h6 title">Nome do Ator</div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col col-xl-3 order-xl-1 col-lg-6 order-lg-2 col-md-6 col-sm-12 col-12">
            <div class="ui-block">
                <div class="ui-block-title">
                    <h6 class="title">Perfil</h6>
                    <a href="#" class="more"><svg class="olymp-three-dots-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use></svg></a>
                </div>
                <div class="ui-block-content">

                    <!-- W-Personal-Info -->

                    <ul class="widget w-personal-info item-block">
                        <li>
                            <span class="title">Nome:</span>
                            <span class="text">David Tennant</span>
                        </li>
                        <li>
                            <span class="title">Data de nascimento:</span>
                            <span class="text">batata</span>
                        </li>
                        <li>
                            <span class="title">Nascionalidade:</span>
                            <a href="#" class="text">batata</a>
                        </li>
                    </ul>
                </div>
            </div>




        </div>

        <div class="col col-xl-9 order-xl-1 col-lg-6 order-lg-2 col-md-6 col-sm-12 col-12">
            
                <div class="row">
                    <div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="ui-block responsive-flex">
                            <div class="ui-block-title">
                                <div class="h6 title">Filmografia</div>
                            </div>
                        </div>
                    </div>
                </div>
            <!--FIlmes-->

            <div class="photo-item col-3-width">
                <img src="~/img/cartaz-TF.jpg" alt="photo">
                <div class="overlay overlay-dark"></div>
                <a href="#" data-toggle="modal" data-target="#open-photo-popup-v2" class="  full-block"></a>
                <div class="content">
                    <a href="#" class="h6 title">The Fosters</a>
                </div>
            </div>
            <div class="photo-item col-3-width">
                <img src="~/img/cartaz-TF.jpg" alt="photo">
                <div class="overlay overlay-dark"></div>
                <a href="#" data-toggle="modal" data-target="#open-photo-popup-v2" class="  full-block"></a>
                <div class="content">
                    <a href="#" class="h6 title">The Fosters</a>
                </div>
            </div>
            <div class="photo-item col-3-width">
                <img src="~/img/cartaz-TF.jpg" alt="photo">
                <div class="overlay overlay-dark"></div>
                <a href="#" data-toggle="modal" data-target="#open-photo-popup-v2" class="  full-block"></a>
                <div class="content">
                    <a href="#" class="h6 title">The Fosters</a>
                </div>
            </div>
            <div class="photo-item col-3-width">
                <img src="~/img/cartaz-TF.jpg" alt="photo">
                <div class="overlay overlay-dark"></div>
                <a href="#" data-toggle="modal" data-target="#open-photo-popup-v2" class="  full-block"></a>
                <div class="content">
                    <a href="#" class="h6 title">The Fosters</a>
                </div>
            </div>

            <!--end FIlmes-->

            </div>




        </div>
    </div>
</div>

