
@{
    ViewBag.Title = "Index";
    Layout = null;
}

<!DOCTYPE html>

<html lang="pt-br">
<head>
    <title>RYS| Bem-vindo!</title>
    <meta name="viewport" content="width=device-width" />
    <!--MAIN FONT-->
    <script src="~/Scripts/webfontloader.min.js"></script>
    <script>
        WebFont.load({
            google: {
                families: ['Roboto:300,400,500,700:latin']
            }
        });
    </script>

    <!--Bootstrap CSS-->
    <link href="~/Content/bootstrap-reboot.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-grid.css" rel="stylesheet" />

    <!--Main Styles CSS-->
    <link href="~/Content/main.css" rel="stylesheet" />
    <link href="~/Content/fonts.css" rel="stylesheet" />

</head>
<body>

    <div class="main-header main-landing">
        <div class="content-bg-wrap bg-landing"></div>
        <div class="container">
            <div class="row">
                <div class="col col-lg-6 m-auto col-md-12 col-sm-12 col-12">
                    <div class="main-header-content">

                        <a href="#" class="logo">
                            <div class="img-wrap">
                                <img src="~/img/logo-landing.png" alt="Rate Your Show">
                            </div>
                            <div class="title-block">
                                <h6 class="logo-title">Rate Your Show</h6>
                                <div class="sub-title">A rede social para suas séries</div>
                            </div>
                        </a>

                        <h1>Assistir séries nunca foi tão interativo!</h1>
                        <p>
                            Rate Your Show, se trata de um sistema para oferecer refúgio aos amantes de séries, um
                            ambiente onde há libertade para expressar suas opiniões e contribuir com uma sociedade de usuários.
                        </p>

                        <a data-scroll href="~/Home/Cadastro" class="btn btn-purple btn-lg">Encontre suas séries</a>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--JS SCRIPTS-->

    <script src="~/Scripts/jquery-3.2.1.js"></script>
    <script src="~/Scripts/jquery.appear.js"></script>
    <script src="~/Scripts/jquery.mousewheel.js"></script>
    <script src="~/Scripts/perfect-scrollbar.js"></script>
    <script src="~/Scripts/jquery.matchHeight.js"></script>
    <script src="~/Scripts/svgxuse.js"></script>
    <script src="~/Scripts/imagesloaded.pkgd.js"></script>
    <script src="~/Scripts/Headroom.js"></script>
    <script src="~/Scripts/velocity.js"></script>
    <script src="~/Scripts/ScrollMagic.js"></script>
    <script src="~/Scripts/jquery.waypoints.js"></script>
    <script src="~/Scripts/jquery.countTo.js"></script>
    <script src="~/Scripts/popper.min.js"></script>
    <script src="~/Scripts/material.min.js"></script>
    <script src="~/Scripts/bootstrap-select.js"></script>
    <script src="~/Scripts/smooth-scroll.js"></script>
    <script src="~/Scripts/selectize.js"></script>
    <script src="~/Scripts/swiper.jquery.js"></script>
    <script src="~/Scripts/moment.js"></script>
    <script src="~/Scripts/daterangepicker.js"></script>
    <script src="~/Scripts/simplecalendar.js"></script>
    <script src="~/Scripts/fullcalendar.js"></script>
    <script src="~/Scripts/isotope.pkgd.js"></script>
    <script src="~/Scripts/ajax-pagination.js"></script>
    <script src="~/Scripts/Chart.js"></script>
    <script src="~/Scripts/loader.js"></script>
    <script src="~/Scripts/circle-progress.js"></script>
    <script src="~/Scripts/run-chart.js"></script>
    <script src="~/Scripts/jquery.magnific-popup.js"></script>
    <script src="~/Scripts/jquery.gifplayer.js"></script>
    <script src="~/Scripts/mediaelement-and-player.js"></script>
    <script src="~/Scripts/mediaelement-playlist-plugin.min.js"></script>
    <script src="~/Scripts/base-init.js"></script>
    <script src="~/Scripts/bootstrap.bundle.js"></script>
</body>
</html>
