
@{
    ViewBag.Title = "Cadastro Personalidade";
    Layout = "~/Views/Shared/_Administrador.cshtml";
}

<div class="col col-xl-9 order-xl-2 col-lg-9 order-lg-2 col-md-12 order-md-1 col-sm-12 col-12">
    <div class="ui-block">
        <div class="ui-block-title">
            <h6 class="title">Cadastro de Personalidades</h6>
        </div>
        <div class="ui-block-content">


            <!-- Personal Information Form  -->

            @using (Html.BeginForm("CadastroPersonalidade", "Administrador", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="row">
                    <div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="form-group label-floating">
                            <label class="control-label">Nome</label>
                            <input class="form-control" name="Nome" id="Nome" placeholder="" type="text">
                        </div>
                        <div class="form-group label-floating">
                            <label class="control-label">Data de nascimento</label>
                            <input type="date" name="Datadenascimento" id="Datadenascimento" />
                        </div>
                        <div class="form-group label-floating">
                            <label class="control-label">Nacionalidade</label>
                            <input class="form-control" name="Nacionalidade" id="Nacionalidade" placeholder="" type="text">
                        </div>
                        <div class="form-group label-floating">
                            <label class="control-label">Imagem</label>
                            <input name="arq" class="form-control" type="file" />
                        </div>
                    </div>
                    <div class="col col-lg-3 col-md-3 col-sm-12 col-12">
                    </div>
                    <div class="col col-lg-6 col-md-6 col-sm-12 col-12">
                        <button class="btn btn-primary btn-lg full-width">Adicionar Personalidade</button>
                    </div>
                    <div class="col col-lg-3 col-md-3 col-sm-12 col-12">
                    </div>

                </div>
            }

            <!-- ... end Personal Information Form  -->
        </div>
    </div>
</div>