@model IEnumerable<RateYourShowMVC.Models.Series>

@{
    ViewBag.Title = "Series";
    Layout = "~/Views/Shared/_Administrador.cshtml";
    Boolean midia;
}

<div class="header-spacer"></div>

<div class="col col-xl-9 order-xl-2 col-lg-9 order-lg-2 col-md-12 order-md-1 col-sm-12 col-12">
    <div class="container">
        <div class="row">
            <div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="ui-block responsive-flex">
                    <div class="ui-block-title">
                        <div class="h6 title">Galeria de Séries</div>

                        @using (Html.BeginForm("Series", "Administrador", FormMethod.Post, htmlAttributes: new { @class = "w-search" }))
                        {

                            <div class="form-group with-button is-empty">
                                <input class="form-control" id="procurar" name="procurar" placeholder="procure séries..." type="text" />
                                <button type="submit">
                                    <svg class="olymp-magnifying-glass-icon"><use xlink:href="~/svg-icons/sprites/icons.svg#olymp-magnifying-glass-icon"></use></svg>
                                </button>
                            </div>
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container">
        @foreach (var item in Model.OrderBy(s => s.Nome))
        {
            midia = false;
            <div class="photo-item col-4-width">
                @foreach (var mid in item.Midia.Where(m => m.TipoMidiaId == 1))
                {
                    <img src="~/Uploads/@mid.Link" style="height:200px;width:300px" stalt="photo">
                    midia = true;
                }
                @if(!midia){
                <img src="~/img/default.png" style="height:200px;width:300px" stalt="photo">
                }
                <div class="overlay overlay-dark"></div>
                <div class="more" style="z-index:1;  ">
                    <svg class="olymp-three-dots-icon"><use xlink:href="~/svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use></svg>
                    <ul class="more-dropdown" style="width:160px; padding: 5px 5px 5px 20px;">
                        <li>
                            <a href="#" data-toggle="modal" data-target="#batata">Desativar</a>
                        </li>
                        <li>
                            <a href="#">Editar série</a>
                        </li>
                    </ul>
                </div>
                <a href="#" data-toggle="modal" data-target="#open-photo-popup-v2" class="  full-block"></a>
                <div class="content">
                    @Html.ActionLink(item.Nome, "EditarSerie", new { id = item.SeriesId }, htmlAttributes: new { @class = "h6 title" })
                </div>
            </div>
        }
    </div>
</div>
