@model IEnumerable<RateYourShowMVC.Models.Usuario>

@{
    ViewBag.Title = "Usuarios";
    Layout = "~/Views/Shared/_Administrador.cshtml";
    Boolean foto;
    RateYourShowMVC.Models.Usuario usuario = ViewBag.Usuario;
}

<div class="header-spacer"></div>

<div class="col col-xl-9 order-xl-2 col-lg-9 order-lg-2 col-md-12 order-md-1 col-sm-12 col-12">
    <div class="container">
        <div class="row">
            <div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="ui-block responsive-flex">
                    <div class="ui-block-title">
                        <div class="h6 title">Galeria de usuários</div>

                        @using (Html.BeginForm("Usuarios", "Administrador", FormMethod.Post, htmlAttributes: new { @class = "w-search" }))
                        {

                            <div class="form-group with-button is-empty">
                                <input class="form-control" id="procurar" name="procurar" placeholder="procure usuários..." type="text" />
                                <button type="submit">
                                    <svg class="olymp-magnifying-glass-icon"><use xlink:href="~/svg-icons/sprites/icons.svg#olymp-magnifying-glass-icon"></use></svg>
                                </button>
                            </div>
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container">
        @foreach (var item in Model.OrderBy(n => n.Nome))
        {
            foto = false;
            <div class="photo-item col-4-width">
                @foreach (var mid in item.Midia.Where(m => m.TipoMidiaId == 5))
                {
                    <img src="~/Uploads/@mid.Link" style="height:200px;width:300px" alt="Usuário">

                    foto = true;
                }
                @if (!foto)
                {
                    <img src="~/Uploads/default.jpg" style="height:200px;width:300px" alt="Usuário">

                }
                <div class="overlay overlay-dark"></div>
                <div class="more" style="z-index:1;  ">
                    <svg class="olymp-three-dots-icon"><use xlink:href="~/svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use></svg>
                    <ul class="more-dropdown" style="width:160px; padding: 5px 5px 5px 20px;">
                        <li>
                            <a href="#" data-toggle="modal" data-target="#batata">Bloquear</a>
                        </li>
                        <li>
                            <a href="#">Perfil</a>
                        </li>                                               
                    </ul>
                </div>
                
                <a href="#" data-toggle="modal" data-target="#batata" class="full-block"></a>
                <div class="content">
                    <!--<a href="#" class="h6 title">Header Photos</a>-->
                    @Html.ActionLink(item.Nome, "EditarUsuario", new { id = item.UsuarioId }, htmlAttributes: new { @class = "h6 title" })
                </div>
            </div>
        }
    </div>

</div>

<!-- desativar usuario Popup -->

<div class="modal fade" id="batata" tabindex="-1" role="dialog" aria-labelledby="batata" aria-hidden="true">
    <div class="modal-dialog window-popup batata" role="document">        
            <div class="modal-content" style="margin-left:300px; margin-right:300px;">
                <a href="#" class="close icon-close" data-dismiss="modal" aria-label="Close">
                    <svg class="olymp-close-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-close-icon"></use></svg>
                </a>

                <div class="modal-header">
                    <h6 class="title">Desativar usuário</h6>
                </div>

                <div class="modal-body">
                    <div id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="card">
                            <div class="card-header" role="tab" id="headingTwo">
                                <h6 class="mb-0">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#desativar" aria-expanded="true" aria-controls="desativar">
                                        Tem certeza que deseja desativar usuário?
                                        <svg class="olymp-dropdown-arrow-icon"><use xlink:href="~/svg-icons/sprites/icons.svg#olymp-dropdown-arrow-icon"></use></svg>
                                    </a>
                                </h6>
                            </div>

                            <div id="desativar" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
                                <form>
                                    <div class="form-group label-floating is-empty">
                                        <br />
                                        <textarea rows="4" cols="100" placeholder="Motivos para desativar"></textarea>
                                    </div>


                                    <div class="col col-lg-12 col-md-12 col-sm-12 col-12">
                                        <button class="btn btn-primary btn-lg full-width">Desativar</button>
                                    </div>

                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>


<!-- ... end desativar usuario Popup -->